appdirs==1.4.4
asgiref==3.5.1
backports.zoneinfo==0.2.1
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.0.4
frozendict==2.3.8
gunicorn==22.0.0
html5lib==1.1
idna==3.4
lxml==4.9.3
multitasking==0.0.11
packaging==24.1
pandas==2.0.3
Pillow==9.1.1
pip==22.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
setuptools==62.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.2
tzdata==2023.3
urllib3==2.0.4
webencodings==0.5.1
wheel==0.37.1

